.media-player-container {
	width: 60vw;
}

@media (max-width: 700px) {
	.media-player-container {
		width: 100%;
	}
}

.controller {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
}

.controller__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10em;
}

.icon {
	color: #adadad;
	cursor: pointer;
	font-size: 200%;
}

.icon--large {
	font-size: 150%;
}

.seeker {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slider {
	width: 20em;
	height: 0.4em;
	border-radius: 50px;
	background-color: #404040;
}

.slider__progress {
	height: 0.4em;
	border-radius: 50px;
	background-color: #adadad;
	position: absolute;
}

.seeker__time {
	color: #adadad;
	font-size: 90%;
}

.time--left {
	margin-right: 1em;
}

.time--right {
	margin-left: 1em;
}
