.song {
	display: flex;
	align-items: center;
	width: 15em;
	max-width: 34vw;
}

.song__artwork {
	width: 70px;
	height: 70px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.song__details {
	display: flex;
	flex-direction: column;
	margin-left: 1em;
}

.song__name {
	color: white;
	margin-bottom: 0.2em;
}

.song__artist {
	color: #adadad;
	margin-top: 0.2em;
}
