.controller-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 7em;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10em;
}

.change-song {
	font-size: 150%;
}

.slide-render-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1em;
}

.slide-total {
	width: 20em;
	height: 0.4em;
	border-radius: 50px;
	background-color: #404040;
}

.slide-progress {
	height: 0.4em;
	width: 10em;
	border-radius: 50px;
	background-color: #adadad;
	position: absolute;
}
