.controller-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 7em;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 10em;
}

.icon {
	color: #adadad;
	cursor: pointer;
	font-size: 200%;
}

.change-song {
	font-size: 150%;
}

.slide-render-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slide-total {
	width: 20em;
	height: 0.4em;
	border-radius: 50px;
	background-color: #404040;
}

.slide-progress {
	height: 0.4em;
	border-radius: 50px;
	background-color: #adadad;
	position: absolute;
}

.time-text {
	color: #adadad;
	font-size: 90%;
}

.left {
	margin-right: 1em;
}

.right {
	margin-left: 1em;
}
